<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortest Path Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Shortest path with removable obstacles</h1>
        <div class="form-container">
            <select id="problemSelect">
                <option value="">Select a problem</option>
            </select>

            <select id="algorithmSelect">
                <option value="">Select an algorithm</option>
                <option value="naive">Naive</option>
                <option value="sweep">Sweep</option>
                <option value="sparse">Sparse</option>
                
            </select>

            <div class="input-container">
                <label for="epsilonRange">Epsilon:</label>
                <input type="text" id="epsilonRange" placeholder="Epsilon value" value="1">
            </div>
            <div class="input-container">
                <label for="budget">Budget:</label>
                <input type="text" id="budget" placeholder="Budget" value="10">
            </div>
            <button id="calculateButton">Calculate Shortest Path</button>
        </div>
        <div id="result"></div>
        <div id="plotlyDiv"></div>

        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </div>
</body>

    
</html>
