/* styles.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Form container styles */
.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Select styles */
#problemSelect {
    padding: 10px;
    flex: 0.2;
}

#algorithmSelect {
    padding: 10px;
    flex: 0.2;
}

/* Input container styles */
.input-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
    padding: 5px;
}

/* Input label styles */
.input-container label {
    padding: 10px;
    font-weight: bold;
}


/* Input styles */
.input-container input {
    padding: 10px;
    width: 130px; 
    font-size: 16px; 
    height: 40px; 
    box-sizing: border-box; 
}

/* Button styles */
#calculateButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink: 0;
}

#calculateButton:hover {
    background-color: #0056b3;
}

/* Result and plot styles */
#result {
    margin: 20px 0;
    text-align: center;
    font-size: 1.2em;
}

#plotlyDiv {
    margin: 20px 0;
}
